<html>
    <head>
        {% block title %}
        <meta charset="UTF-8">
        <title>Pesagens</title>
        {% endblock %}
    </head>
    <body>
        <div>
            <ul>
            {% if ids_vacas|length> 0 %}
                <table id="view_users" class="table table-striped table-bordered" style="width:100%">
                    <p>Pesagens:</p>
                    <thead>
                        <tr>
                            <th>ID da Vaca</th>
                            <th>Nome</th>
                            <th>Data e Hora</th>
                            <th>Valor da Pesagem (kg)</th>                        
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in range(pesagens|length) %}
                        <tr>
                            {% for key, value in pesagens[i].items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                            <td>{{ ids_vacas[i] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Ainda não há pesagens registradas!<p>
            {% endif %}
            </ul>
        </div>
        
    </body>
</html>